<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.qyg.cmfz.dao.ManagerDao">
    <resultMap id="managerMap" type="Manager">
        <id property="mgrId" column="mgr_id"/>
        <result property="mgrName" column="mgr_name"/>
        <result property="mgrPwd" column="mgr_pwd"/>
        <result property="salt" column="salt"/>
        <result property="status" column="status"/>
    </resultMap>

     <select id="selectByName" resultMap="managerMap">
     	select * from t_manager where mgr_name=#{name}
     </select>

</mapper>
